:root {
  --music-bgc-primary: #ec4141;
  --music-icon-color: #000000;
  --music-logo-bgc: #ec4141;
  --music-search-color: #ffffff;
  --music-header-right: #4d84fe;
  --music-aside-bgc: #ffffff;
  --music-aside-active-text: #4d84fe;
}
